[Desktop Entry]
Type=Application
Name=Wiki documents
Name[fr]=Documents Wiki
Name[ru]=Персональная Wiki
Exec=browser http://localhost/wiki/index.sh
Icon=html
Categories=Utility;TextTools;
