[Desktop Entry]
Encoding=UTF-8
Name=Wiki documents
Name[fr]=Documents Wiki
Icon=html
Exec=browser http://localhost/wiki/index.sh
Type=Application
Categories=Office;

