[Desktop Entry]
Type=Application
Name=Qemu Emulator
Name[fr]=Emulateur Qemu
Name[ru]=Эмулятор Qemu
Exec=qemu-box
Icon=computer
Categories=System;Emulator;
