/*
	CSS style for SliTaz Network - (C) 201 SliTaz GNU/Linux
*/

html {
	min-height:  102%;
}

body {
	background: #ffffff;
	color: black;
	font: 13px sans-serif, vernada, arial;
	margin: 0;
	min-width: 780px;
	height: 100%;
}

a { text-decoration: underline; color: #215090; }
a:hover { text-decoration: none; }
img { border: 0pt none; vertical-align: middle; }
h2 { color: #444; font-size: 180%; }
h3 { color: #666; font-size: 140%; }
h4 { color: #888; font-size: 120%; }
h2, h3 { border-bottom: 1px dashed #afafaf; padding-bottom: 5px; }

pre { 	 
	border: 1px solid #ddd; 
	padding: 10px;
}

/* Header */

#header { 
	height: 40px; 
	background: #222;
}

#header h1 {
	margin: 0;
	padding: 2px 0 0 42px;
	width: 250px;
}

#header h1 a { 
	color: white; 
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
}

#header h1 a:hover, #network a:hover, #block_nav a:hover, #network span { 
	color: #afafaf;
}

/* Logo */

#logo {
	background: url(images/logo.png) no-repeat left;
	position: absolute;
	float: left;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

/* SliTaz Network */

#network { 
	float: right; 
	padding: 14px 5px 0; 
	font-size: 12px;
}

#network a, #network span { padding: 0 4px; }
#network span { color: #afafaf; font-weight: bold; }

#network a { 
	color: #fff; 
	font-weight: bold;
	text-decoration: none;
}

/* 
 * 
 * 
 * Navigation NG 
 * 
 * 
 * */

nav {
	font-size: 120%;
	min-height: 100px;
	background: #eee; 
	padding: 56px 6% 0;
	text-align: center;
	color: #222;
	border-bottom: 1px solid #afafaf;
	top: 40px;
}

nav ul {
    margin: 0; padding: 0;
    list-style: none;
}
nav li { display: inline; }

nav a, .dlbutton { 
	text-decoration: none;
	padding: 12px;
	color: #fff; 
	font-weight: bold;
	vertical-align: middle;
	-webkit-transition: background-color 0.6s;
	transition: background-color 0.5s;
}
nav p { padding: 8px; color: #333; font-size: 92%; }

.nav1 { background-color: #333; }
.nav1:hover { background-color: #128da9; }
.nav2 { background-color: #ab3c00; }
.nav2:hover { background-color: #ff9b00; }
.navpi { background-color: #444; }
.navpi:hover { background-color: #bc1142; }

/* Languages */

#lang {
	padding: 8px;
	font-size: 12px;
	position: absolute;
	right: 0px;
	color: #666;
}
#lang .flag { font-size: 14px; }
#lang .flag:hover { text-decoration: none; }

#lang a, #lang strong,  #lang span {
	text-decoration: none;
	padding: 0 2px;
}

#lang a:hover {
	text-decoration: underline;
}

.box #lang { text-align: center; position: relative; 
	font-size: 13px; }	 /* for /i18n page */

/* Content */

#content {
	padding: 30px 80px;
	text-align: justify;
}
#content li { line-height: 1.6em; }

.news li {
	border-bottom: 1px dotted #BEBEBE;
	margin-left: -25px;
	padding: 4px 0px 4px 0px;
}

.news a, .feed-grid a { text-decoration: none; }
.news p a { text-decoration: underline; }
.news p a:hover { text-decoration: none; }
#twitter { margin: 20px 0; text-align: center; }
#gallery { text-align: center; }

#sponsor {
	font-size: 90%;
	background-color: #fbfbfb;
	border: 2px solid #ddd;
	width: 200px;
	height: 140px;
	float: right;
	text-align: center;
	margin: 20px 0px 20px 20px;
}

/* Classes */

.mobile { display: none !important; }

.right_box { width: 48%; float: right; }
.left_box { width: 48%; float: left; }

.box {
	margin: 20px 60px;
	padding: 12px;
	background: #efefef;
	border: 1px solid #ddd;
}

.box-dl, .box-up {
	margin: 20px 0;
	min-height: 48px;
	border: 1px solid #ddd;
	vertical-align: middle;
}
.box-dl {
	background: url("/images/download.png") no-repeat 12px center;
	padding: 16px 16px 16px 72px;
}
.box-up {
	background: url("/images/update.png") no-repeat 12px center;
	padding: 16px 16px 16px 62px;
}
.box-dl a { font-weight: bold; text-decoration: none; }
.dlbutton { padding-left: 38px; }
pre, .box, .box-dl, .box-up, .box-share, .box-rpi {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.searchbox { 
	margin: 20px 80px; 
	padding: 12px; 
	background: #f8f8f8;
	text-align: center;
	border: 1px solid #ddd;
}

/* Activity Box */

.activity { 
	margin: 0 0 20px; 
	background: #efefef; 
	padding: 5px 2px 0; 
	border: 1px solid #ddd; 
}
.activity div { padding: 5px 10px; background: #fff; margin-top: 5px; }
.activity p { margin: 0; padding: 5px 10px; font-weight: bold; }
.activity a { text-decoration: none; }
.activity ul { margin: 4px 0; padding: 0 4px; line-height: 150%; }
.activity li { list-style-type: none; }
.activity_more { text-align: right;  }
.activity_more a { font-weight: normal; color: #000; padding: 0 4px; }
.activity_more a:hover { text-decoration: underline; }

.activity span, .news span { 
	color: #666; 
	font-size: 11px; 
	font-weight: normal;
}

/* Button */

#block_info .button a { 
	background-color: #666;
	color: #ffffff;
	margin: 0px 4px;
	padding: 6px 10px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
#block_info .button a:hover, input[type=submit]:hover { 
	background-color: #444;
	color: #ffffff;
}

/* Round corner */

#block_nav, pre, .box, .box-dl, .box-up, .searchbox, .button a, 
#twitter, .activity, .activity div, #sponsor, nav a, .dlbutton {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Form */

input[type=submit] {
	border: 1px solid #666;
	background-color: #666;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 4px 10px;
	font-size: 14px;
	margin-left: -5px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

input[type=submit]:hover { background-color: #444; }

/* Footer */

#footer {
	background: #f1f1f1;
	text-align: center;
	border-top: 1px solid #ddd;
	padding: 40px;
	color: #666;
	clear: both;
	margin-bottom: -2%;
}

#footer a { color: #666; padding: 0 2px; }

.year:after {
	/* content: "2007-2015"; */
	content: "2007-2017";
}

p, li {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* 
 * 
 * 
 *
 *  Mercurial custom CSS
 * 
 * 
 * 
 */

#tarball ul { margin: 0 0 6px; padding: 0px; }
#tarball li { display: inline-block; }

nav p a { 
	padding: 0;
	font-weight: normal;
	color: #215090;
}
nav p a:hover { text-decoration: underline; }

.repo { font-weight: bold; }
#repo-desc { font-size: 92%; color: #666; }
#repo-desc a { font-size: 90%; color: #215090; }

#content a { text-decoration: none; }

.comment { color: #a00; }
.value   { color: #e50; }
.var     { color: #05a; }
.color32 { color: green; }

#hgsearch {
	float: right;
	margin: 40px 80px 0px 0px;
}

#hgsearch input[type="text"] {
	width: 240px;
	padding: 4px;
	margin: 4px 0px;
	font-size: 14px;
	line-height: 1.2em;
	background: #fefefe;
	border: 2px solid #afafaf;
	-webkit-appearance: none;
	-webkit-padding-end: 12px;
	-webkit-padding-start: 6px;
	border-radius: 4px;
}

.container {
  margin: 0px 280px 0px 0px;
  padding: 0px 40px 60px 40px;
}

.main {
  background: white;
}

#.main {
  width: 100%;
}

.overflow {
  width: 100%;
  overflow: auto;
}

.search {
  text-align: center;
}

form.search div#hint {
	display: none;
	position: absolute;
	right: 80px;
	width: 240px;
	padding: 5px;
	margin-top: 14px;
	background: #f8f8f8;
	border: 1px solid #ddd;
	-webkit-appearance: none;
	-webkit-padding-end: 12px;
	-webkit-padding-start: 6px;
	border-radius: 4px;
}

form.search:hover div#hint { display: block; }

.age { white-space:nowrap; }
.date { white-space:nowrap; }
.indexlinks { white-space:nowrap; }
.parity0 { background-color: #f0f0f0; }
.source.parity0 { background-color: white; }
.parity1 { background-color: white; }
.plusline { color: green; }
.minusline { color: #dc143c; } /* crimson */
.atline { color: purple; }

.navigate {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

.tag {
  color: #999;
  font-size: 70%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

.branchhead {
  color: #000;
  font-size: 80%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

ul#graphnodes .branchhead {
  font-size: 75%;
}

.branchname {
  color: #000;
  font-size: 60%;
  font-weight: normal;
  margin-left: .5em;
  vertical-align: baseline;
}

h3 .branchname {
  font-size: 80%;
}

/* Common */
pre { margin: 0; }

h2 a { color: #215090; }

/* log and tags tables */

table { border-collapse: collapse; }

.bigtable {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  font-size: 100%;
  width: 100%;
  font-weight: normal;
  text-align: left;
  margin-top: 10px;
}

.bigtable td, table td {
  vertical-align: top;
  padding: 4px 2px;
}

.bigtable th {
  padding: 0px 2px 6px 0;
  border-bottom: 1px solid #ddd;
}
.bigtable tr { border: none; }
table .age { width: 6em; padding-right: 10px; }
table .author { width: 12em; }
.bigtable .description { }
.bigtable .node { width: 5em; font-family: monospace;}
.bigtable .permissions { width: 8em; text-align: left;}
.bigtable .size { width: 5em; text-align: right; padding-right: 20px; }
.bigtable .annotate { text-align: right; }
.bigtable td.annotate { font-size: smaller; }
.bigtable td.source { font-size: inherit; }

.source, .sourcefirst, .sourcelast {
  font-family: monospace;
  white-space: pre;
  padding: 1px 4px;
  font-size: 94%;
}
.sourcefirst { border-bottom: 0px solid #ddd; font-weight: bold; }
.sourcelast { border-top: 0px solid #ddd; }
.source a { color: #999; font-size: smaller; font-family: monospace;}
.bottomline { border-bottom: 0px solid #999; }

.fileline { font-family: monospace; }
.fileline img { border: 0; }

.tagEntry .closed { color: #99f; }

/* Changeset entry */
#changesetEntry {
  border-collapse: collapse;
  font-size: 90%;
  width: 100%;
  margin-bottom: 1em;
}

#changesetEntry th {
  padding: 4px;
  width: 4em;
  text-align: right;
  font-weight: normal;
  color: #999;
  margin-right: .5em;
  vertical-align: top;
}

div.description {
  border-left: 2px solid #888;
  margin: 1em 0 1em 0;
  padding: .3em;
}

/* Graph */
div#wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 3px;
}

canvas {
	position: absolute;
	z-index: 5;
	top: -0.9em;
	margin: 0;
}

ul#nodebgs {
	list-style: none inside none;
	padding: 0;
	margin: 0;
	top: -0.7em;
}

ul#graphnodes li, ul#nodebgs li {
	height: 39px;
}

ul#graphnodes {
	position: absolute;
	z-index: 10;
	top: -0.8em;
	list-style: none inside none;
	padding: 0;
}

ul#graphnodes li .info {
	display: block;
	font-size: 100%;
	position: relative;
	top: -3px;
	font-style: italic;
}
