{header}
<title>{repo|escape}: branches</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-tags" title="Atom feed for {repo|escape}: branches" />
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-tags" title="RSS feed for {repo|escape}: branches" />
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">
			<img src="{staticurl}/images/network.png" alt="network.png" /></a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<a href="http://hg.slitaz.org/">Hg</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<!-- Block -->
<div id="block">
	<!-- Navigation -->
	<div id="block_nav">
		<h4>Navigation</h4>
		<ul>
			<li><a href="{url}summary{sessionvars%urlparameter}">Summary</a></li>
			<li><a href="{url}shortlog{sessionvars%urlparameter}">Changelog</a></li>
			<li><a href="{url}graph{sessionvars%urlparameter}">Graph</a></li>
			<li><a href="{url}tags{sessionvars%urlparameter}">Tags</a></li>
			<li>Branches</li>
		</ul>
	</div>
	<!-- Information/image -->
	<div id="block_info">
		<h4>Project: {repo|escape}</h4>
		<p>
			Clone project: hg clone http://hg.slitaz.org/{repo|escape}
		</p>
		<p>
			Use: --branch to clone only the specified branch
		</p>
		<h4>Search</h4>
		<form class="search" action="{url}log">
			{sessionvars%hiddenformentry}
			<p><input name="rev" id="search1" type="text" /></p>
			<!-- <div id="hint">find changesets by author, revision,
			files, or words in the commit message</div> -->
		</form>
	</div>
</div>
		
<!-- Content -->
<div id="content">

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a> branches</h2>

<table class="bigtable">
<tr>
 <th>branch</th>
 <th>node</th>
</tr>
{entries%branchentry}
</table>

<!-- End of content -->
</div>

{footer}
