{header}
<title>{repo|escape}: {node|short}</title>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">Home</a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://irc.slitaz.org/">IRC</a>
		<a href="http://pro.slitaz.org/">Pro</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<span>Hg</span>
		<a href="http://cook.slitaz.org/">Cook</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<!-- Navigation -->
<nav id="nav" role="navigation" tabindex="0">
	<ul>
		<li><a class="nav2" href="{url}summary{sessionvars%urlparameter}">Summary</a></li>
		<li><a class="nav1" href="{url}shortlog{sessionvars%urlparameter}">Changelog</a></li>
		<li><a class="nav2" href="{url}rev/{node|short}{sessionvars%urlparameter}">Changeset</a></li>
		<li><a class="nav1" href="{url}graph/{node|short}{sessionvars%urlparameter}">Graph</a></li>
		<li><a class="nav2" href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">Browse</a></li>
	</ul>
	<p>
		Repo: <span class="repo">{repo|escape}</span> &#8594;
		<a href="{url}bookmarks{sessionvars%urlparameter}">Bookmarks</a> -
		Download: <a href="{url}raw-rev/{node|short}{sessionvars%urlparameter}">diff</a> -
		Changeset: <span class="value">{node|short}</span>
		<br />
		<span id="repo-desc">{desc}</span>
	</p>
</nav>

<div id="hgsearch">
	<form class="search" action="{url}log">
	{sessionvars%hiddenformentry}
	<input name="rev" id="search1" type="text" placeholder="Search" />
	</form>
</div>

<!-- Content -->
<div id="content">

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
	rev {rev} {changesetbranch%changelogbranchname} {changesettag}</h2>

<div class="description">{desc|strip|escape|addbreaks|nonempty}</div>

<table id="changesetEntry">
<tr>
 <th class="author">author</th>
 <td class="author">{author|obfuscate}</td>
</tr>
<tr>
 <th class="date">date</th>
 <td class="date">{date|date} ({date|age})</td></tr>
<tr>
 <th class="author">parents</th>
 <td class="author">{parent%changesetparent}</td>
</tr>
<tr>
 <th class="author">children</th>
 <td class="author">{child%changesetchild}</td>
</tr>
<tr>
 <th class="files">files</th>
 <td class="files">{files}</td>
</tr>
</table>

<div class="overflow">
<div class="sourcefirst">   line diff</div>

{diff}
</div>

<!-- End of content -->
</div>

{footer}
