{header}
	<title>SliTaz - Mercurial Repos</title>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">Home</a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://irc.slitaz.org/">IRC</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<span>Hg</span>
		<a href="http://cook.slitaz.org/">Cook</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<nav id="nav" role="navigation" tabindex="0">
	<ul>
		<li><a class="nav2" href="http://www.slitaz.org/en/devel/">Devel Doc</a></li>
		<li><a class="nav1" href="http://tank.slitaz.org/">Main Mirror</a></li>
		<li><a class="nav2" href="http://pkgs.slitaz.org/">Packages</a></li>
		<li><a class="nav1" href="http://people.slitaz.org/">People</a></li>
	</ul>
	<p>
		Real time improvements, fixes and goodies from SliTaz contributors
	</p>
</nav>

<!-- Content -->
<div id="content">

<h2>Repositories list</h2>

<table class="bigtable">
    <tr>
        <th><a href="?sort={sort_name}">Name</a></th>
        <th><a href="?sort={sort_description}">Description</a></th>
        <th><a href="?sort={sort_contact}">Contact</a></th>
        <th><a href="?sort={sort_lastchange}">Last change</a></th>
        <th>&nbsp;</th>
    </tr>
    {entries%indexentry}
</table>

<!-- End of content -->
</div>

{footer}
