{header}
	<title>SliTaz - Mercurial Repos</title>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">
			<img src="{staticurl}/images/home.png" alt="network.png" /></a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<a href="http://hg.slitaz.org/">Hg</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<!-- Block -->
<div id="block">
	<!-- Navigation -->
	<div id="block_nav">
		<h4>Developers corner</h4>
		<div class="right_box">
			<ul>
				<li><a href="http://cook.slitaz.org/">Build Bot</a></li>
				<li><a href="http://pkgs.slitaz.org/">Packages</a></li>
				<li><a href="http://tank.slitaz.org/">Tank Server</a></li>
			</ul>
		</div>
		<div class="left_box">
			<ul>
				<li><a href="http://www.slitaz.org/en/devel/">Website Devel</a></li>
				<li><a href="http://scn.slitaz.org/groups/devel/">Community Group</a></li>
				<li><a href="http://people.slitaz.org/">SliTaz People</a></li>
				<li><a href="http://doc.slitaz.org/en:cookbook:start">Cookbook</a></li>
			</ul>
		</div>
	</div>
	<!-- Information/image -->
	<div id="block_info">
		<h4>Mercurial Repos</h4>
		<p>
			This web interface lets you follow in real time all 
			improvements, fixes and other changes made by SliTaz 
			GNU/Linux contributors. Latest commits to the Cooking wok
			are on the SliTaz <a href="http://www.slitaz.org/">website</a>
			and <a href="http://scn.slitaz.org/">SCN</a>.
		</p>
	</div>
</div>

<!-- Content -->
<div id="content">

<h2>Repositories list</h2>

<table class="bigtable">
    <tr>
        <th><a href="?sort={sort_name}">Name</a></th>
        <th><a href="?sort={sort_description}">Description</a></th>
        <th><a href="?sort={sort_contact}">Contact</a></th>
        <th><a href="?sort={sort_lastchange}">Last change</a></th>
        <th>&nbsp;</th>
    </tr>
    {entries%indexentry}
</table>

<!-- End of content -->
</div>

{footer}
