{header}
<title>SliTaz Repos - not found</title>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">Home</a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://irc.slitaz.org/">IRC</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<span>Hg</span>
		<a href="http://cook.slitaz.org/">Cook</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<nav id="nav" role="navigation" tabindex="0">
	<ul>
		<li><a class="nav2" href="http://www.slitaz.org/en/devel/">Devel Doc</a></li>
		<li><a class="nav1" href="http://tank.slitaz.org/">Main Mirror</a></li>
		<li><a class="nav2" href="http://pkgs.slitaz.org/">Packages</a></li>
		<li><a class="nav1" href="http://people.slitaz.org/">People</a></li>
	</ul>
	<p>
		Real time improvements, fixes and goodies from SliTaz contributors
		<br />
		<span id="repo-desc">Coded with &hearts; and KISS principle</span>
	</p>
</nav>

<!-- Content -->
<div id="content">

<h2>Repository not found</h2>
<div class="description">
	<p>
		The specified repository "{repo|escape}" is unknown, sorry.
	</p>
	<p>
		Please go back to the 
		<a href="http://hg.slitaz.org/">main repository list page</a>.
	</p>
</div>

<!-- End of content -->
</div>

<div style="height: 240px;"></div>

{footer}
