{header}
<title>{repo|escape}: searching for {query|escape}</title>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">Home</a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://irc.slitaz.org/">IRC</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<span>Hg</span>
		<a href="http://cook.slitaz.org/">Cook</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<!-- Navigation -->
<nav id="nav" role="navigation" tabindex="0">
	<ul>
		<li><a class="nav2" href="{url}summary{sessionvars%urlparameter}">Summary</a></li>
		<li><a class="nav1" href="{url}shortlog{sessionvars%urlparameter}">Changelog</a></li>
		<li><a class="nav2" href="{url}rev/{node|short}{sessionvars%urlparameter}">Changeset</a></li>
		<li><a class="nav1" href="{url}graph/{node|short}{sessionvars%urlparameter}">Graph</a></li>
		<li><a class="nav2" href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">Browse</a></li>
	</ul>
	<p>
		Repo: <span class="repo">{repo|escape}</span> &#8594;
		Download: <a href="/{repo|escape}/archive/tip.tar.bz2">bz2</a> -
		<a href="{url}tags{sessionvars%urlparameter}">Tags</a> -
		<a href="{url}branches{sessionvars%urlparameter}">Branches</a>
		<br />
		<span id="repo-desc">Search: {query|escape}</span>
	</p>
</nav>

<div id="hgsearch">
	<form class="search" action="{url}log">
	{sessionvars%hiddenformentry}
	<input name="rev" id="search1" type="text" placeholder="Search" />
	</form>
</div>

<!-- Content -->
<div id="content">

<h2><a href="{url}{sessionvars%urlparameter}">{repo|escape}</a>
	- Searching for '{query|escape}'</h2>

<table class="bigtable">
 <tr>
  <th class="age">age</th>
  <th class="author">author</th>
  <th class="description">description</th>
 </tr>
{entries}
</table>

<!-- End of content -->
</div>

{footer}
