{header}
<title>{repo|escape}: Summary</title>
<link rel="alternate" type="application/atom+xml"
   href="{url}atom-log" title="Atom feed for {repo|escape}"/>
<link rel="alternate" type="application/rss+xml"
   href="{url}rss-log" title="RSS feed for {repo|escape}"/>
</head>
<body>

<!-- Header -->
<div id="header">
	<div id="logo"></div>
	<div id="network">
		<a href="http://www.slitaz.org/">
			<img src="{staticurl}/images/home.png" alt="network.png" /></a>
		<a href="http://scn.slitaz.org/">Community</a>
		<a href="http://doc.slitaz.org/">Doc</a>
		<a href="http://forum.slitaz.org/">Forum</a>
		<a href="http://bugs.slitaz.org">Bugs</a>
		<a href="http://hg.slitaz.org/">Hg</a>
	</div>
	<h1><a href="http://hg.slitaz.org/">SliTaz Repositories</a></h1>
</div>

<!-- Block -->
<div id="block">
	<!-- Navigation -->
	<div id="block_nav">
		<h4>Navigation</h4>
		<div class="right_box">
			<ul>
				<li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">Changeset</a></li>
				<li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">Browse</a></li>
			</ul>
		</div>
		<div class="left_box">
			<ul>
				<li>Summary</li>
				<li><a href="{url}log{sessionvars%urlparameter}">Changelog</a></li>
				<li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">Graph</a></li>
				<li><a href="{url}tags{sessionvars%urlparameter}">Tags</a></li>
				<li><a href="{url}branches{sessionvars%urlparameter}">Branches</a></li>
			</ul>
		</div>
	</div>
	<!-- Information/image -->
	<div id="block_info">
		<h4>Project: {repo|escape}</h4>
		<p>
			Clone project: hg clone http://hg.slitaz.org/{repo|escape}
		</p>
		<div id="tarball">
			<ul>
				<li>Download tarball:</li>
				{archives%archiveentry}
			</ul>
		</div>
		<h4>Search</h4>
		<form class="search" action="{url}log">
			{sessionvars%hiddenformentry}
			<p><input name="rev" id="search1" type="text" /></p>
			<!-- <div id="hint">find changesets by author, revision,
			files, or words in the commit message</div> -->
		</form>
	</div>
</div>


<div id="content">

<h2>Repository Overview</h2>

<ul style="list-style-type: square;">
	<li>Repo: {repo|escape} - {desc}</li>
	<li>Owner: {owner|obfuscate}</li>
	<li>Last change: {lastchange|rfc822date}</li>
</ul>

<h2>Changes</h2>
<table style="margin-top: 10px;">
{shortlog}
	<tr class="light">
		<td colspan="4">
			<a class="list" href="{url}shortlog{sessionvars%urlparameter}">More changes...</a>
		</td>
	</tr>
</table>

<h2>Tags</h2>
<table style="margin-top: 10px;">
{tags}
	<tr class="light">
		<td colspan="3">
			<a class="list" href="{url}tags{sessionvars%urlparameter}">More tags...</a>
		</td>
	</tr>
</table>

<h2>Branches</h2>
<table style="margin-top: 10px;">
{branches%branchentry}
</table>

<!-- End of content -->
</div>

{footer}
